@import "./menu_sidebar.css";

.edit-customer {
    width: 305px !important;
}

.loading-btn{
	width: 115px;
	height: 40px;
	background-color: gray !important;
	pointer-events: none;
	opacity: 0.6;
	cursor: not-allowed;
	border-color: #000 !important;
}

.loading-lg-btn {
	background-color: gray !important;
	pointer-events: none;
	opacity: 0.6;
	cursor: not-allowed;
	border-color: #000 !important;
	width: 200px;
}